services:
  db:
    container_name: tracetable-db
    image: postgres:16
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - tracetable_db_data:/var/lib/postgresql/data
    networks:
      - tracetable-network
  
  pgadmin:
    container_name: tracetable-pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@ufpb.br
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - tracetable-network

  minio:
    container_name: tracetable-minio
    image: minio/minio:latest
    restart: always
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - tracetable_minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - tracetable-network

  trace-api:
    container_name: tracetable-api
    depends_on:
      - db
      - minio
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - tracetable-network

volumes:
  tracetable_db_data:
  tracetable_minio_data:

networks:
  tracetable-network:
    name: tracetable-network
    driver: bridge