spring:
    profiles:
        active: ${APP_PROFILE:dev}
    output:
        ansi:
            enabled: always
    servlet:
        multipart:
            enabled: true
            max-file-size: 1MB
            max-request-size: 1MB
app:
    version: ${APP_VERSION:v1}
    secret: ${APP_SECRET:secret}
    img-directory: /app/assets/
springdoc:
    pathsToMatch:
        - /v1/**

minio:
  url: ${MINIO_URL:http://localhost:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}
  bucket-name: ${MINIO_BUCKET_NAME:a4s-bucket}
  public-url: ${MINIO_PUBLIC_URL:http://localhost:9000}